body {
  background-image: url("bg_cake3.jpg");
  background-color: rgba(255, 255, 255, 0.712);
  background-blend-mode: lighten;
  background-size: cover;
}

body .card {
  background-color: rgba(255, 255, 255, 0.6);
}
